name: GitHub Metrics (Streak)

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          # Output file (ROOT of repo)
          filename: github-metrics.svg

          # Content
          base: header, activity, repositories
          plugin_streak: yes
